---
//@ts-nocheck
import DynamicImage from "@components/helpers/DynamicImage.astro";
import caseStudy from "@data/caseStudy.json";
import Button from "./Button.astro";
const { caseName, category, date, image, buttonLabel } = caseStudy.caseDetails;
---

<article class="CaseArticle">
  <header>
    <div class="Dynamic_picture">
      <DynamicImage imagePath={image} altText={caseName} />
    </div>
    <div class="case-details">
      <div>
        <dt>Case Name</dt>
        <dd>{caseName}</dd>
      </div>
      <div>
        <dt>Category</dt>
        <dd class="category">{category}</dd>
      </div>
      <div>
        <dt>Date</dt>
        <dd class="date">{date}</dd>
      </div>
      <Button text="live Preview" variant="yellow" />
    </div>
  </header>
  {
    caseStudy.sections.map((section) => (
      <section class="CaseStudy_text">
        {caseStudy.sections[0] === section ? (
          <h2>{section.title}</h2>
        ) : (
          <h3>{section.title}</h3>
        )}

        {Array.isArray(section.content) ? (
          <>
            {section.content.map((item) => (
              <p>{item}</p>
            ))}
          </>
        ) : (
          <p>{section.content}</p>
        )}
        {section.highlights && (
          <ul>
            {section.highlights.map((highlight) => (
              <li>{highlight}</li>
            ))}
          </ul>
        )}
        {section.image && (
          <DynamicImage
            imagePath={section.image}
            altText={section.title}
            width={600}
            height={400}
          />
        )}
      </section>
    ))
  }
</article>

<style>
  .CaseArticle {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;

    padding-block: 4rem;
  }

  .Dynamic_picture :global(img) {
    border-radius: var(--border-radius-0);
  }

  .CaseArticle > * {
    grid-column: content;
  }

  .case-details {
    background: var(--color-neutrals-900);
    color: var(--color-neutrals-50);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    padding: 54px 60px;
    border-radius: var(--border-radius-01);
  }

  .CaseStudy_text {
    --flow-space: var(--space-m);

    > * + * {
      margin-top: var(--flow-space);
    }

    h2 {
      padding-top: 5rem;
      --flow-space: var(--space-xl);
      font-size: var(--step-2);
    }

    h3 {
      --flow-space: var(--space-m);
      font-size: var(--step-1);
    }

    p {
      --flow-space: var(--space-s);
    }

    ul {
      --flow-space: var(--space-s);
    }
  }

  .CaseStudy_text :global(img) {
    padding-bottom: var(--space-l);
    border-radius: var(--border-radius-0);
  }
</style>
