---
import DynamicIcon from "./helpers/DynamicIcon.astro";
const { data } = Astro.props;
---

<section class="team">
  {
    data.map((employee: any) => (
      <div class="card-wrapper">
        <a href={`/team/${employee.slug}`} class="card-link">
          <article class="card">
            <img class="card-img" src={employee.img} alt={employee.name} />

            <div class="card-content">
              <h3>{employee.name}</h3>
              <h4 class="title">{employee.title}</h4>
              <p>{employee.description}</p>

              <div class="socials">
                {employee.social_links.map((social: any) => (
                  <a href={social.url} aria-label={social.platform}>
                    <DynamicIcon class="icon" name={social.icon} />
                  </a>
                ))}
              </div>
            </div>
          </article>
        </a>
      </div>
    ))
  }
</section>

<style>
  @layer component {
    .team {
      grid-column: content-start / content-end;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-template-rows: auto auto auto 1fr auto;
      gap: 2rem;
      margin-bottom: var(--space-l);

      .card-wrapper {
        container: card / inline-size;
      }
      .card {
        display: grid;
        margin-top: var(--space-s);
      }

      .card-img {
        /* anchor-name: --title-back; */
        grid-area: 1 / 1;
        border-radius: var(--border-radius-0);
        width: 100%;
        display: block;
      }

      .card-content {
        text-align: center;
      }

      h3 {
        font-size: var(--step-2);
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: var(--space-s);
      }

      h4 {
        /* position: absolute; */
        padding: 5px 20px;
        background-color: var(--color-neutrals-900);
        color: var(--color-neutrals-50);
        border-radius: var(--border-radius-1);
        font-size: var(--step--2);
        font-weight: 600;
        margin-bottom: var(--space-s);
      }

      p {
        font-size: var(--step--1);
        color: var(--color-neutrals-700);
        margin-bottom: var(--space-s);
      }

      .socials {
        display: flex;
        justify-content: center;
        gap: 20px;
      }

      .icon {
        width: 25px;
        height: auto;
        color: var(--color-neutrals-900);
        margin-top: 5px;
      }

      /* .card-wrapper .card-content h4 {
        grid-area: 1 / 1;
        z-index: 1;
        place-self: end end;
        text-align: left;
      } */

      @container card (width > 400px) {
        .card {
          grid-template-columns: 120px 1fr;
          align-items: center;
        }

        .socials {
          display: none;
        }

        h3 {
          margin-bottom: var(--space-xxs);
        }

        p {
          --flow-space: var(--space-s);
        }

        h4 {
          color: var(--color-neutrals-50);
          font-size: var(--step--1);
          margin-bottom: var(--space-xxs);
          background-color: transparent;
          color: var(--color-neutrals-900);
          padding: 0;
        }

        .card-content {
          text-align: left;
          margin-left: 10px;
        }
      }
    }
  }
</style>
