---
import employees from "../data/employees.json";
import facebook from "../icons/facebook.svg";
import instagram from "../icons/instagram.svg";
---

<section class="team">
  {
    employees.map((employee) => (
      <div class="card-wrapper">
        <article class="card">
          <img class="card-img" src={employee.img} alt={employee.name} />

          <div class="card-content">
            <h3>{employee.name}</h3>
            <h4 class="title">{employee.title}</h4>
            <p>{employee.description}</p>

            <div class="socials">
              {employee.social_links.map((social) => (
                <a href={social.url} aria-label={social.platform}>
                  {social.icon}
                </a>
              ))}
            </div>
          </div>
        </article>
      </div>
    ))
  }
</section>

<style>
  @layer component {
    .team {
      grid-column: content-start / content-end;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-template-rows: auto auto auto 1fr auto;
      gap: 2rem;

      .card {
        container-type: inline-size;
        display: grid;
        grid: subgrid/subgrid;
        grid-row: span 5;
      }

      .card-img {
        border-radius: var(--border-radius-1);
        width: 100%;
        display: block;
      }

      .card-content {
        text-align: center;
      }

      h3 {
        font-size: var(--step-0);
        font-weight: 600;
      }

      h4 {
        background-color: var(--color-neutrals-900);
        color: var(--color-neutrals-50);
        border-radius: var(--border-radius-1);
      }
    }

    @container card (min-width: 300px) {
      .card {
        grid-template-columns: 120px 1fr;
        align-items: center;
      }

      .card-img {
        grid-row: span 3;
        width: 120px;
        height: 120px;
        object-fit: cover;
      }

      .card-content {
        text-align: left;
      }
    }
  }
</style>
