---
import data from "@data/financialProjections.json";
import Cal from "@icons/cal.svg";
import Card from "@icons/card.svg";
import Law from "@icons/law.svg";
import Money from "@icons/money.svg";
import ArrowLeft from "@icons/arrow-left.svg";
import ArrowRight from "@icons/arrow--right.svg";
---

<section class="financial">
  <div class="financial-content">
    <div class="grid_1-1">
      <div class="intro">
        <p class="eyebrow">{data.eyebrow}</p>
        <h2>{data.title}</h2>
        <p>{data.subtitle}</p>
      </div>
      <div class="arrows">
        <button class="arrow">
          <ArrowLeft class="arrow-icon" />
        </button>
        <button class="arrow">
          <ArrowRight class="arrow-icon" />
        </button>
      </div>
    </div>
  </div>

  <div class="cards">
    {
      data.values.map((item: any) => (
        <div class="card">
          <div class="icon">
            {item.icon === "cal" && <Cal />}
            {item.icon === "card" && <Card />}
            {item.icon === "law" && <Law />}
            {item.icon === "money" && <Money />}
          </div>

          <h3>{item.title}</h3>
          <p>{item.description}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  @layer component {
    .financial {
      padding-block: 8rem 1rem;
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      background-color: var(--color-neutrals-50);

      .eyebrow {
        letter-spacing: 0.1em;
        margin-bottom: var(--space-xs);
        text-transform: uppercase;
      }

      h2 {
        font-size: var(--step-3);
        font-weight: 600;
        margin-bottom: var(--space-xs);
      }

      h3 {
        font-size: var(--step-0);
        font-weight: 600;
        margin-bottom: var(--space-xs);
      }
    }

    .card p {
      color: var(--color-neutrals-700);
    }
    .financial-content {
      display: flex;
      justify-content: space-between;
      grid-column: content-start / content-end;
    }

    .grid_1-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }

    .intro {
      max-width: 500px;
    }
    .arrows {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: flex-end;
      margin-top: auto;
    }

    .arrow {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background-color: var(--color-neutrals-900);
      border-radius: var(--border-radius-3);
      border: none;
      cursor: pointer;
    }

    .arrow-icon {
      width: 16px;
      height: 16px;
      color: var(--color-neutrals-50);
      stroke-width: 2px;
      display: inline-block;
    }

    .cards {
      display: grid;
      grid-column: full;
      flex-shrink: 0;
      overflow-inline: auto;
      grid-auto-columns: min(80%, 400px);
      grid-auto-flow: column;
      padding: max(1rem, 50% - 1200px /2);
      gap: 20px;
    }
    .card {
      padding: 30px 20px;
      border-radius: var(--border-radius-0);
      background-color: var(--color-neutrals-200);
    }
  }
</style>
