---
import Button from "./Button.astro";
import ValuesCards from "./ValuesCards.astro";
import Gear from "../icons/Gear.svg";
import Layers from "../icons/layers.svg";
import Globe from "../icons/globe.svg";
import Bars from "../icons/Bars.svg";
import ArrowRight from "../icons/arrow--right.svg";
import "../styles/tokens.css";

const { variation = "dark", buttonVariant } = Astro.props;
---

<section class={`values ${variation}`}>
  <div>
    <div class="values_top">
      <div class="values_text">
        <p class="eyebrow">GROWING WITH OUT CLIENTS</p>
        <h2>Our core values & principles</h2>
        <p class="subtext">
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
      </div>

      <div class="values_button">
        <Button
          text="Get in touch"
          variant={buttonVariant ??
            (variation === "light" ? "dark" : "default")}
        />
      </div>
    </div>

    <div class="ValuesCards_flex">
      <ValuesCards
        icon={Layers}
        title="Creative Ideas"
        description="Explore innovative strategies tailored to your goals. Unlock unique solutions that inspire growth and creativity. Drive impactful change."
        arrowIcon={ArrowRight}
      />

      <ValuesCards
        icon={Bars}
        title="Best Features"
        description="Deliver advanced tools designed for seamless integration. Optimize workflows with cutting-edge technology."
        arrowIcon={ArrowRight}
      />

      <ValuesCards
        icon={Globe}
        title="Experience"
        description="Deliver advanced tools designed for Leverage years of proven expertise across diverse industries. Empower your business with our skilled professionals. Achieve sustainable success."
        arrowIcon={ArrowRight}
      />

      <ValuesCards
        icon={Gear}
        title="Easy Solutions"
        description="Streamline your challenges with simple, effective solutions. Ensure hassle-free implementation for measurable results."
        arrowIcon={ArrowRight}
      />
    </div>
  </div>
</section>

<style>
  .values {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    padding-block: 4rem;
    margin-top: var(--space-xl);
  }

  .values.dark {
    background: var(--color-neutrals-900);
    color: var(--color-neutrals-50);
  }

  h2 {
    font-size: var(--step-2);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: var(--space-s);
  }

  .eyebrow {
    font-size: var(--step--1);
    margin-bottom: var(--space-s);
    color: var(--color-neutrals-900);
  }

  p {
    font-size: var(--step--1);
    margin-bottom: var(--space-s);
    color: var(--color-neutrals-700);
  }

  .values.light {
    background: var(--color-neutrals-50);
    color: var(--color-neutrals-900);
  }

  .values > * {
    grid-column: content;
  }

  .values_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 3vw, 3rem);
    margin-bottom: 3rem;
  }

  .values_text {
    text-align: left;
  }

  .values_button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .ValuesCards_flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: clamp(0.8rem, 1.5vw, 1.5rem);
    margin-top: 3rem;
    align-items: start;
  }
</style>
